<uib-tabset active="$tabSetStatus.activeTab">
    <uib-tab ng-init="$dropdownTabActive = 1" class="with-dropdown">
        <uib-tab-heading uib-dropdown>
          <a uib-dropdown-toggle ng-click="$event.stopPropagation()">
            회원관리 <i class="caret"></i>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ng-click="$dropdownTabActive = 1; $tabSetStatus.activeTab = 3">회원 리스트</a></li>
            <li><a ng-click="$dropdownTabActive = 2; $tabSetStatus.activeTab = 3">탈퇴 회원 리스트</a></li>
            <li><a ng-click="$dropdownTabActive = 3; $tabSetStatus.activeTab = 3">관리자 리스트</a></li>
          </ul>
        </uib-tab-heading>
        <div ng-show="$dropdownTabActive == 1" ng-include="'app/pages/manage/memManage/registeredMemListManage.html'">
        </div>
        <div ng-show="$dropdownTabActive == 2" ng-include="'app/pages/manage/memManage/withdrawalMemListManage.html'">
        </div>
        <div ng-show="$dropdownTabActive == 3" ng-include="'app/pages/manage/memManage/adminListManage.html'">
          </div>        
      </uib-tab>
    <uib-tab ng-init="$dropdownTabActive = 1" class="with-dropdown">
      <uib-tab-heading uib-dropdown>
        <a uib-dropdown-toggle ng-click="$event.stopPropagation()">
          상품관리 <i class="caret"></i>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li><a ng-click="$dropdownTabActive = 1; $tabSetStatus.activeTab = 3">카테고리 관리</a></li>
          <li><a ng-click="$dropdownTabActive = 2; $tabSetStatus.activeTab = 3">상품 관리</a></li>
          <li><a ng-click="$dropdownTabActive = 3; $tabSetStatus.activeTab = 3">브랜드 관리</a></li>
        </ul>
      </uib-tab-heading>
      <div ng-show="$dropdownTabActive == 1" ng-include="'app/pages/manage/goodsManage/goodsCategoryManage.html'">
      </div>
      <div ng-show="$dropdownTabActive == 2" ng-include="'app/pages/manage/goodsManage/goodsManage.html'">
      </div>
      <div ng-show="$dropdownTabActive == 3" ng-include="'app/pages/manage/goodsManage/goodsBrandManage.html'">
      </div>      
    </uib-tab>
  </uib-tabset>