<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">아이디</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <textarea class="form-control" placeholder="내용"></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" placeholder="답변"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">저장</button>
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">취소</button>
  </div>
</div>
