<div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="관리자 리스트" ba-panel-class="with-scroll">
          <div class="horizontal-scroll">
              <div class="form-group select-page-size-wrap ">
                <label>Rows on page
                  <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                          ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
                  </select>
                </label>
              </div>
              <table class="table" st-table="smartTableData">
                <thead>
                <tr class="sortable ">
                  <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                  <th st-sort="_id">_ID</th>
                  <th st-sort="adminName">관리자명</th>
                  <th st-sort="adminId">아이디</th>
                  <th st-sort="adminPhoneNum">핸드폰</th>
                  <th st-sort="adminEmail">이메일</th>
                  <th st-sort="adminDateOfRecentConnection">최근접속일</th>
                </tr>
                <tr>
                  <th></th>
                  <th><input st-search="_id" placeholder="_id" class="input-sm form-control search-input"
                             type="search"/></th>
                  <th><input st-search="adminName" placeholder="회원명" class="input-sm form-control search-input"
                             type="search"/></th>
                  <th><input st-search="adminId" placeholder="아이디" class="input-sm form-control search-input"
                             type="search"/></th>
                  <th><input st-search="adminPhoneNum" placeholder="핸드폰" class="input-sm form-control search-input"
                  type="search"/></th>
                  <th><input st-search="adminEmail" placeholder="이메일" class="input-sm form-control search-input"
                      type="search"/></th>    
                  <th><input st-search="dateOfRecentConnection" placeholder="최근접속일" class="input-sm form-control search-input" type="search"/>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in smartTableData">
                  <td class="table-id">{{item._id}}</td>
                  <td>{{item.adminName}}</td>
                  <td>{{item.adminId}}</td>
                  <td>{{item.adminPhoneNum}}</td>
                  <td><a class="email-link" ng-href="mailto:{{item.adminEmail}}">{{item.adminEmail}}</a></td>
                  <td>{{item.dateOfRecentConnection}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <td colspan="7" class="text-center">
                    <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
      </div>
    </div>
  </div>
  
