<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">상품 등록 화면</h4>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-sm-12">
              <div class="form-group">
                  <label for="Category3">Brand</label>
                  <select class="form-control" id="Brand" title="Select Brand" data-container="body"
                          selectpicker>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                  </select>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group">
                  <label for="Category3">Category1</label>
                  <select class="form-control" id="Category1" title="Category1" data-container="body"
                          selectpicker>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                  </select>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group">
                  <label for="Category3">Category2</label>
                  <select class="form-control" id="Category2" title="Category2" data-container="body"
                          selectpicker>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                  </select>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group">
                  <label for="Category3">Category3</label>
                  <select class="form-control" id="Category3" title="Category3" data-container="body"
                          selectpicker>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                  </select>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="form-group">
                <label for="input01">Product Name</label>
                <input type="text" class="form-control" id="productNm" placeholder="Product Name">
              </div>
          </div>
          <div class="col-sm-12">
              <div class="form-group">
                <label for="input01">Product Image</label>
                <input type="text" class="form-control" id="productImg" placeholder="Product Image">
            </div>
          </div>
          <div class="col-sm-12">
              <div class="form-group">
                <label for="input01">Product Price</label>
                <input type="text" class="form-control" id="productPrice" placeholder="Product Price">
              </div>
          </div>
          <div class="col-sm-12">
              <div class="form-group">
                <label for="input01">Product Information</label>
                <input type="text" class="form-control" id="productInfo" placeholder="Product Information">
              </div>
          </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save</button>
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
  </div>
</div>






      