<div ba-panel ba-panel-title="상품 수정" ba-panel-class="with-scroll">
    <form>
        <label for="brand">브랜드</label>
        <div class="row">
            <div class="col-sm-3" id="brand">
                <div class="form-group">
                    <select class="form-control" title="category3" data-style="btn-warning" data-container="body"
                            selectpicker>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </div>
        </div>    
        <label for="category">카테고리</label>
        <div class="row">
            <div class="col-sm-3" id="category">
                <div class="form-group" >
                    <select class="form-control" title="category1" data-style="btn-primary" data-container="body"
                            selectpicker>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" title="category2" data-style="btn-primary" data-container="body"
                            selectpicker>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" title="category3" data-style="btn-primary" data-container="body"
                            selectpicker>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" >
                <div class="form-group">
                    <label for="productName">상품명</label>
                    <input type="text" class="form-control" id="productName" placeholder="상품명">
                </div>
                <div class="form-group">
                    <label for="productPrice">상품 가격</label>
                    <input type="password" class="form-control" id="productPrice" placeholder="상품 가격">
                </div>
                <div class="form-group">
                    <label for="productImage">상품 이미지</label>
                    <div class="file-tab panel-body">
                        <label class="btn btn-default btn-file">
                            <input type="file" name="image-file" id="productImage" >
                        </label>
                        <button type="button" class="btn btn-default">Remove</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ProductInfo">상품 필수정보</label>
                    <textarea placeholder="Default Input" class="form-control" id="ProductInfo"></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save</button>
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
    </form>
</div>