<div class="row" ng-controller="ModalsPageCtrl" >
    <div class="col-md-12">
      <div ba-panel ba-panel-title="상품 관리" ba-panel-class="with-scroll">
          <div class="add-row-editable-table">
              <button ng-controller="addGoodsCtrl" class="btn btn-primary" ng-click="addGoods('addGoods')">상품 등록</button>
            </div>
            <table class="table table-bordered table-hover table-condensed">
              <tr>
                <td>_ID</td>
                <td>상품명</td>
                <td>상품코드</td>
                <td>노출여부</td>
                <td>품절처리</td>
                <td>수정/삭제</td>
              </tr>
              <tr ng-repeat="user in users" class="editable-row">
                  <td>
                      {{$index}}
                  </td>
                  <td>
                      <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
                        {{ user.name || 'empty' }}
                      </span>
                  </td>
                  <td class="select-td">
                      <span editable-select="user.status" e-name="status" e-form="rowform" e-selectpicker
                            e-ng-options="s.value as s.text for s in statuses">
                        {{ showStatus(user) }}
                      </span>
                  </td>
                  <td class="select-td">
                      <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-selectpicker
                            e-ng-options="g.id as g.text for g in groups">
                        {{ showGroup(user) }}
                      </span>
                  </td>
                  <td class="select-td">
                      <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-selectpicker
                            e-ng-options="g.id as g.text for g in groups">
                        {{ showGroup(user) }}
                      </span>
                  </td>                  
                  <td>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button ng-controller="editGoodsCtrl" class="btn btn-primary editable-table-button btn-xs" ng-click="editGoods('editGoods')">Edit</button>
                        <button class="btn btn-danger editable-table-button btn-xs" ng-click="open('app/pages/mgManage/goodsManage/deleteConfirmModal.html', 'md')">Delete</button>
                    </div>
                  </td>
                </tr>
            </table>
      </div>
    </div>
  </div>